<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/index']" class="atras">
        <ion-icon name="chevron-back-outline" aria-setsize="large" aria-label="atras" class="atras"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="contenido">
    <div id="iconos-calendario">
      <ion-button id="boton-calendario" (click)="cerrarResto('calendario'); abrirCalendario()">
        <ion-icon name="calendar-outline" aria-setsize="large" class="calendario"></ion-icon>
        <ion-label>{{ today | date: 'dd/MM' }}</ion-label>
      </ion-button> 
    </div>
    <div id="calendario" style="display:none">
        <ion-datetime [value]="dateValue" (ionChange)="abrirDiario(datetime.value)" #datetime presentation="date" [firstDayOfWeek]="1" ></ion-datetime>
        <div id="nuevaSeccion"></div>
    </div>  
    <div>
      <div class="cabecera">
        <ion-button (click)="abrirEscribir(); cerrarResto('escribir')" class="mas">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
        <ion-label>Escribir</ion-label>
      </div>
      <div id="escribir" style="display:block">
        <ion-textarea id="areaTexto" rows="8" placeholder="¿Qu&eacute; te preocupa?"></ion-textarea>
      </div>
    </div>
   <div>
      <div class="cabecera">
        <ion-button (click)="abrirContactos(); cerrarResto('contact')" class="mas">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
        <ion-label>Hablar con alguien</ion-label>
      </div>
      <div id="contact" style="display:none">
        <div id="div-contactos">
          <ion-accordion-group id="lista-contactos">
            <ion-accordion *ngFor="let contacto of contactos()" style="width: 90%; border-radius: 1em; border-style:solid; border-color: #0A0048; border-width: 0.15em;">
              <ion-item slot="header">
                <ion-label>{{contacto.nombre}}</ion-label>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-item style="--background: #FEFEEF; border-style: none;">
                  <ion-icon name="call-outline"></ion-icon>
                  <ion-label style="margin-left: .5em; font-size:1.4em">Llamar</ion-label>
                </ion-item>
                <ion-item style="--background: #FEFEEF; --inner-border-width:0; border-style: none;">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                  <ion-label style="margin-left: .5em">Abrir WhatsApp</ion-label>
                </ion-item>
                <ion-button (click)="borrarUsuario(contacto)" fill="clear" style="--background:#FF8585; --color:#0A0048;font-weight: 600;width: 40%;align-self: center; text-transform: none;">Eliminar</ion-button>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>
        <ion-accordion-group id="acordeon-anadir">
          <ion-accordion id="anadir">
            <ion-item slot="header" toggleIconSlot="start" id="cabecera-contacto">
              <ion-label>A&ntilde;adir contacto</ion-label>
            </ion-item>
              <div class="ion-padding" slot="content" id="content">
                <form [formGroup]="formContacto" (ngSubmit)="crearContacto()">
                  <div class="contacto">
                    <ion-item>
                      <ion-input type="text" formControlName="nombre" aria-label="Nombre" autocapitalize="true" placeholder="Nombre" id="nombre"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input type="tel" formControlName="numero" aria-label="Numero" placeholder="N&uacute;mero" name="numero" id="numero"></ion-input>
                    </ion-item>
                  </div>
                  <ion-button type="submit" class="boton-guardar" size="small">Guardar</ion-button>
                </form>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>     
    </div>
    <div>
      <div class="cabecera">
        <ion-button (click)="abrirAnimo(); cerrarResto('animo')" class="mas">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
        <ion-label>Estado de &aacute;nimo</ion-label>
      </div>
      <div id="animo" style="display:none">
        <h1>¿C&oacute;mo te has sentido hoy?</h1>
        <div id="emojis">
          <img id="muytriste" (click)="seleccionImagen('muytriste')" height="60" width="60" src="assets/imagenes/1F629_color.png">
          <img id="triste" (click)="seleccionImagen('triste')" height="60" width="60" src="assets/imagenes/2639_color.png">
          <img id="normal" (click)="seleccionImagen('normal')" height="60" width="60" src="assets/imagenes/1F610_color.png">
          <img id="feliz" (click)="seleccionImagen('feliz')" height="60" width="60" src="assets/imagenes/1F642_color.png">
          <img id="muyfeliz" (click)="seleccionImagen('muyfeliz')" height="60" width="60"src="assets/imagenes/1F604_color.png">
        </div>
        <ion-button class="boton-guardar" size="small" (click)="guardarEmoji()">Guardar</ion-button>
      </div>
    </div>
  </div>
  </ion-content>