<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Index</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>¡Hola! ¿Qu&eacute; necesitas?</h1>
  <ion-button [routerLink]="['/desahogarme']">Desahogarme</ion-button>
  <ion-button [routerLink]="['/centrar']">Centrar mi atenci&oacute;n</ion-button>
  <ion-button [routerLink]="['/entender']">Entender la ansiedad</ion-button>
</ion-content>
